@import './debug';

.container {
  height: 100vh;
  width: 100vw;

  background: rgb(11, 51, 110);
  background:
  radial-gradient(at 35% 53%, hsla(280,71%,61%,1) 0, transparent 52%),  
  radial-gradient(at 45% 51%, hsla(314,97%,77%,1) 0, transparent 47%),  
  radial-gradient(at 77% 92%, hsla(9,64%,63%,1) 0, transparent 50%),  
  radial-gradient(at 48% 0%, hsla(256,85%,72%,1) 0, transparent 44%),  
  radial-gradient(at 94% 86%, hsla(307,62%,73%,1) 0, transparent 59%),  
  radial-gradient(at 77% 58%, hsla(223,78%,63%,1) 0, transparent 46%),  
  radial-gradient(at 72% 53%, hsla(13,68%,74%,1) 0, transparent 59%);
  padding: 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.title,
.subtitle {
  text-align: left;
  opacity: 0.3;
  margin: 0;
}

.title {
  font-size: 3rem;
  line-height: 1.15;
  font-weight: 600;
  opacity: 0.2;
  margin-top: auto;
}

.subtitle {
  font-size: 0.9rem;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.paragraph {
  opacity: 0.4;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: auto;
}

.link {
  color: #0070f3;
  text-align: left;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}